apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  syncPolicy:
    automated:
      enabled: true
      prune: true
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
  sources:
  - repoURL: https://traefik.github.io/charts
    targetRevision: "38.0.2"
    chart: traefik
    helm:
      valueFiles:
      - $values/traefik/values.yaml
  - repoURL: 'https://github.com/Queer-In-Tech/k8s-apps.git'
    ref: values
  - repoURL: 'https://github.com/Queer-In-Tech/k8s-apps.git'
    path: traefik
  destination:
    server: "https://kubernetes.default.svc"
    namespace: traefik
