ports:
  web:
    port: 80
    nodePort: 30000
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true

  websecure:
    port: 443
    nodePort: 30001

ingressClass:
  enabled: false

providers:
  kubernetesIngress:
     enabled: false
  kubernetesGateway:
     enabled: true

gateway:
  listeners:
    web:
      port: 80
      protocol: HTTP
      namespacePolicy:
        from: All

    websecure:
      port: 443
      protocol: HTTPS
      namespacePolicy:
        from: All
      mode: Terminate
      certificateRefs:    
      - kind: Secret
        name: wildcard-certificate
        group: ""

logs:
  general:
    level: INFO
  access:
    enabled: true

metrics:
  prometheus:
    enabled: true