global:
  domain: argocd.queerintech.org

server:
  httproute:
    enabled: true
    hostnames:
    - argocd.queerintech.org
    parentRefs:
      - group: gateway.networking.k8s.io	
        kind: Gateway
        name: traefik-gateway
        namespace: traefik

configs:
  params: 
    server.insecure: true
  cm:
    oidc.config: |
      name: Authentik
      issuer: https://auth.queerintech.org/application/o/argocd/
      clientID: argocd
      clientSecret: $argocd-authentik:secret
      skipAudienceCheckWhenTokenHasNoAudience: true
      requestedScopes: ["openid", "profile", "email", "groups"]
      requestedIDTokenClaims: {"groups": {"essential": true}}
      enablePKCEAuthentication: true
